<div class="editor">
  <div class="source">
    <textarea name="odenSource" autofocus>{{.OdenSource}}</textarea>
  </div>
  <div class="go-output hidden">
    <textarea></textarea>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <label for="show-go-output" class="show-go-output">
    <input type="checkbox" id="show-go-output" value="">
    Go output
  </label>
</div>
