/*
 * Background: #9cbece
 * Accent: #37a8ff
 * Dark: #242424
 * Source: #fffafa
 * Logo blue: #206396
 * Go output: #fff2d2
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

pre, code {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

label {
  margin: 0 .5em;
  cursor: pointer;
}

th, td {
  text-align: left;
}
th:not(:first-child),
td:not(:first-child) {
  padding: .25rem .5rem;
}

a:link,
a:active,
a:visited {
  font-weight: bold;
  color: #206396;
  transition: color .3s ease;
}
a:hover,
a:focus {
  color: #242424;
}

/**
 * Buttons
 */
.button,
button {
  display: inline-block;
  padding: .5rem 1rem;
  margin: 0;
  border: 0;
  border-radius: 2px;
  background: #242424;
  color: white;
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
  background: #424242;
}

/* SVG inside a button */
button svg,
.button svg {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}

/* Text inside button */
button span,
.button span {
  display: none;
  vertical-align: middle;
}

/**
 * Header
 */
[role="banner"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[role="banner"] .home {
  padding-left: 3.25rem;
  background: url(/logo-with-name.svg) no-repeat left center;
  background-size: 3rem;
  text-decoration: none;
}

[role="banner"] .home h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #206396;
}

[role="banner"] .tagline {
  font-size: .8125rem;
  font-weight: bold;
  color: #206396;
}

[role="banner"] .actions {
  flex-shrink: 0;
}

/**
 * Main
 */
[role="main"] {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.warning {
  background-color: #a11;
  color: white;
  padding: 1rem;
  font-style: italic;
  font-weight: bold;
}

/**
 * Footer
 */
[role="footer"] {
  display: flex;
  justify-content: space-between;
}

[role="footer"] .about {
  flex-shrink: 0;
}

/**
 * Editor
 */
.editor {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.editor .show-go-output {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  z-index: 5;
  background: #242424;
  color: white;
  padding: .5rem .75rem;
  border-radius: 2px 0 0 0;
}

/**
 * Source
 */
.source textarea,
.go-output textarea {
  padding: 0;
  width: 100%;
  border: 0;
  background: none;
  outline: 0;
  resize: none;
  font-family: 'Monaco', 'Consolas', monospace;
  font-size: 1rem;
  line-height: 1.6;
  padding: 14px;
}

.source,
.go-output {
  position: relative;
  flex-basis: 50%;
  flex-grow: 1;

  transition: all .1s linear;
}

.source {
  display: flex;
  background: white;
  overflow: auto;
}

.go-output {
  background: #fff2d2;
  overflow: auto;
}

.hidden {
  flex: 0 0 0;
}

/**
 * Console
 */
.console {
  position: relative;
  padding: .625rem;
  min-height: 8rem;
  max-height: 16rem;
  background: #242424;
  color: white;
  overflow: auto;
  line-height: 1.5;
}
.console.error p {
  margin: 0;
}
.console.error code {
  font-weight: bold;
  color: #ffcccc;
}
.console.error a {
  color: #ffffff;
}
.console .no-output {
  color: #999;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: italic;
}
.console .heading {
  font-weight: bold;
  text-transform: uppercase;
}
.console .heading-error {
  color: #ff7777;
}
.console .heading-warning {
  color: #ffff77;
}

/**
 * CodeMirror
 */
.editor .CodeMirror {
  position: static;
  width: 100%;
  padding: 10px;
  font-family: 'Monaco', 'Consolas', monospace;
  line-height: 1.6;
}

@media screen and (min-width: 30rem) {
  .editor .CodeMirror {
  }
}

.source .cm-s-default .CodeMirror-gutters,
.source .cm-s-default.CodeMirror {
  background: none;
}

.go-output .cm-s-default .CodeMirror-gutters,
.go-output .cm-s-default.CodeMirror {
  background: none;
}

.source .cm-s-default.CodeMirror .CodeMirror-cursor {
  width: 8px;
  border: none !important;
  background: transparent;
  background: rgba(0,0,0,.25);
}

.source div.CodeMirror span.CodeMirror-matchingbracket {
  color: inherit;
  background: #fd0;
}
.source div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f55;
}

/**
 * Share Screen
 */
.share-screen {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8);
  padding: 1rem;
}
.share-screen .inner {
  background: #9cbece;
  width: 100%;
  max-width: 36rem;
  padding: 1.5rem;
  border-radius: 2px;
}
.share-screen [type="text"] {
  width: 100%;
  font-size: 1.5rem;
  padding: .75rem;
  border: none;
  border-radius: 2px;
}
.share-screen .actions {
  display: flex;
  margin-top: 1rem;
  text-align: right;
  justify-content: space-between;
  flex-wrap: wrap;
}
.share-screen .actions > * {
  color: white;
  font-weight: normal;
  padding: 1rem;
  flex-basis: 100%;
}
.share-screen .actions > * + * {
  margin-top: .5rem;
}
.share-screen .actions .close {
  background: #206396;
}
.share-screen h2 {
  font-size: 1.25rem;
  margin: 0 0 .5rem 0;
  color: #206396;
}

/**
 * Keyboard shortcuts
 */
.shortcuts td:first-child {
  font-family: monospace;
}

/**
 * Common
 */
[role="banner"],
[role="footer"] {
  display: flex;
  flex-shrink: 0;
  padding: .625rem;
  background: #c8dfea;
  color: #206396;
}

main > article  {
  padding: 1rem;
}

/* 480 px */
@media screen and (min-width: 30rem) {
  .share-screen {
    padding: 1.5rem;
  }
  .share-screen .actions {
    flex-wrap: nowrap;
  }
  .share-screen .actions > * + * {
    margin: 0 0 0 .5rem;
  }
}

/* 768 px */
@media screen and (min-width: 48rem) {
  /**
   * Header
   */
  [role="banner"]  {
    flex-wrap: none;
    justify-content: space-between;
  }

  [role="banner"] .actions {
    flex-basis: auto;
    margin-top: 0;
    text-align: left;
  }

  /**
   * Editor
   */
  .editor {
    flex-direction: row;
  }

  /**
   * Buttons
   */
  button span,
  .button span {
    display: inline-block;
  }
}
