<div role="banner">
  <a class="home" href="/">
    <h1>The Oden Playground</h1>
  </a>
</div>
<main role="main">
<article>
  <h1>Internal server error.</h1>
</article>
</main>
<div role="footer">
  <div class="powered-by">
    Powered by
    <a href="https://github.com/oden-lang/oden/releases/tag/{{ .Version }}" target="_blank">Oden {{.Version}}</a>
    and
    <a href="https://play.golang.org/">play.golang.org</a>
  </div>
  <div class="about">
    <a href="/about">About this site</a>
  </div>
</div>
