<div role="banner">
  <a class="home" href="/">
    <h1>Playground</h1>
    <div class="tagline">Learn Oden in your browser!</div>
  </a>
</div>
<main role="main">
<article>
  <h2>About</h2>
  <p>This site:</p>
  <ul>
    <li>
      Uses <a href="https://play.golang.org/">play.golang.org</a> to execute
      compiled programs.
    </li>
    <li>Saves shared programs in a database (anonymously).</li>
    <li>
      Emails results of programs to an internal Oden email account for
      analytics. There is currently no way of opting out of this but there may
      be in the future.
    </li>
  </ul>
</article>
</main>
<div role="footer">
  <div class="powered-by">
    Powered by
    <a href="https://github.com/oden-lang/oden/releases/tag/{{ .Version }}" target="_blank">Oden {{.Version}}</a>
    and
    <a href="https://play.golang.org/">play.golang.org</a>
  </div>
  <div class="about">
    <a href="/about">About this site</a>
  </div>
</div>
