<div role="banner">
  <h1>Oden Playground <span class="label">Alpha</span></h1>

  <button class="run">Run <span class="shortcut">C-r</span></button>
</div>
<main role="main">
<div class="editor">
  <div class="source">
    <textarea name="odenSource" autofocus>{{.OdenSource}}</textarea>
  </div>
  <div class="go-output">
    <textarea></textarea>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>
<div class="console">
  <div class="output">
    <div class="no-output">Run your program and see the output here!</div>
  </div>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
</main>
<div class="footer">
  <span class="powered-by">Powered by
    <a href="https://oden-lang.github.io/">Oden {{.Version}}</a>
    and
    <a href="https://play.golang.org/">play.golang.org</a>.
  </span>
</div>
