<form action="/" method="POST" enctype="application/x-www-form-urlencoded">
  <div role="banner">
    <h1>Oden Playground</h1>
    <span class="version">{{.Version}}</span>
    <button type="submit">Run</button>
  </div>
  <main role="main">
  <div class="editor">
    <div class="source">
      <textarea name="odenSource" autofocus>{{.OdenSource}}</textarea>
    </div>
    {{ if .CompilationError }}
    <div class="output error">
      <textarea>{{.CompilationError}}</textarea>
    </div>
    {{ else }}
    <div class="output">
      <textarea>{{.GoOutput}}</textarea>
    </div>
    {{ end }}
  </div>
  {{ if .ConsoleOutput }}
    {{ if .ConsoleOutput.Errors }}
    <div class="console error">
      <pre><code>{{ .ConsoleOutput.Errors }}</code></pre>
    </div>
    {{ else }}
      {{ range .ConsoleOutput.Events }}
        <div class="console">
          <pre><code>{{.Message}}</code></pre>
        </div>
      {{ end }}
    {{ end }}
  {{ else }}
    <div class="console">
    </div>
  {{ end }}
  </main>
</form>
