<form action="/" method="POST" enctype="application/x-www-form-urlencoded">
  <div role="banner">
    <h1>Oden Playground</h1>
    <span class="version">{{.Version}}</span>
    <button type="submit">Run</button>
  </div>
  <main role="main">
  <div class="editor">
    <div class="source">
      <textarea name="odenSource" autofocus>{{.OdenSource}}</textarea>
    </div>
    {{ if .CompilationError }}
    <div class="output error">
      <textarea>{{.CompilationError}}</textarea>
    </div>
    {{ else }}
    <div class="output">
      <textarea>{{.GoOutput}}</textarea>
    </div>
    {{ end }}
  </div>
  <div class="console">
    <code>{{.ConsoleOutput}}</code>
  </div>
  </main>
</form>
