<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="Oden Playground">
  <meta name="description" content="Learn Oden in your browser">
  <title>Oden Playground</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/codemirror/theme/oden-playground.css">
  <link rel="stylesheet" href="/spinner.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="/icon.png">
</head>
<body>
  {{yield}}
</body>
</html>
