<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oden Playground</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="codemirror/lib/codemirror.css">
  <link rel="icon" type="image/png" href="icon.png">
</head>
<body>
  {{yield}}
  <script src="codemirror/lib/codemirror.js"></script>
  <script src="codemirror/mode/go/go.js"></script>
  <script src="codemirror/mode/clojure/clojure.js"></script>
  <script src="codemirror/addons/matchbrackets.js"></script>
  <script src="main.js"></script>
</body>
</html>
